@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apply Now</h2>
        <p>
            The first step to your new career starts here!
            Book a tour, request information, or apply right now.
            There is no application fee!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Apply&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Campus</h2>
        <p>
            Join us during one of our preview Nights! Learn more about my TinyCollege,
            meet with a member of our admissions department, tour the campus and even
            apply on the spot.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Programs</h2>
        <p>
            Whether you're a recent high school graduate, or looking to make a career change,
            My TinyCollege has the career training to help you succeed</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>